<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="senhascantina.app" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logoapp"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="senhascantina.app.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="senhascantina.app.senhas"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_senhas"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name="senhascantina.app.comprarSenhas"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_comprar_senhas"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name="senhascantina.app.ajuda"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_ajuda"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name="senhascantina.app.settings"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_settings"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
        android:name="senhascantina.app.verSenhas"
        android:configChanges="orientation|keyboardHidden|screenSize"
        android:label="@string/title_activity_ver_senhas"
        android:theme="@style/FullscreenTheme" >
    </activity>
        <activity
            android:name="senhascantina.app.ementa"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_ementa"
            android:theme="@style/FullscreenTheme" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>
